[submodule "ros_industrial_cmake_boilerplate"]
	path = ros_industrial_cmake_boilerplate
	url = git@github.com:ros-industrial/ros_industrial_cmake_boilerplate.git
[submodule "tesseract"]
	path = tesseract
	url = git@github.com:tesseract-robotics/tesseract.git
[submodule "tesseract_planning"]
	path = tesseract_planning
	url = git@github.com:tesseract-robotics/tesseract_planning.git
[submodule "tesseract_ros"]
	path = tesseract_ros
	url = https://github.com/tesseract-robotics/tesseract_ros
[submodule "trajopt"]
	path = trajopt
	url = git@github.com:tesseract-robotics/trajopt.git
[submodule "opw_kinematics"]
	path = opw_kinematics
	url = git@github.com:Jmeyer1292/opw_kinematics.git
[submodule "descartes_light"]
	path = descartes_light
	url = git@github.com:swri-robotics/descartes_light.git
