[submodule "ros_industrial_cmake_boilerplate"]
	path = ros_industrial_cmake_boilerplate
	url = git@github.com:ros-industrial/ros_industrial_cmake_boilerplate.git
[submodule "tesseract"]
	path = tesseract
	url = git@github.com:tesseract-robotics/tesseract.git
